
.DS_Store
jupyter/jupyterNotebooks/.DS_Store
.DS_Store
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/M2_01Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
.DS_Store
jupyter/jupyterNotebooks/.DS_Store
.DS_Store
jupyter/.DS_Store
.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01ConsoleIOandVariables_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/02DataTypesAndOperations_Live-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/03Collections_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/04ControlAndRepetitionStatements_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05Functions_TheCaPythone_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/06ModulesExceptionsAndOOP_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/auto_testing-checkpoint.py
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_01NumPy_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/M2_05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/__pycache__/auto_testing.cpython-39.pyc
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part0_Course_Introduction-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/01NumPy_Assignments-checkpoint.ipynb
jupyter/jupyterNotebooks/assignments/.ipynb_checkpoints/05PCA_TSNE_KMeans_Images_Assignments-checkpoint.ipynb
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_lastday-checkpoint.csv
jupyter/jupyterNotebooks/.ipynb_checkpoints/covid_more_than_10k-checkpoint.csv
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_04BreastCancer_Preprocessing-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part8March-checkpoint.ipynb
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/covid_lastday.csv
jupyter/jupyterNotebooks/covid_more_than_10k.csv
jupyter/jupyterNotebooks/covid_more_than_25k.csv
jupyter/jupyterNotebooks/images/Boris Johnson reminds Merkel to mute during G7 Zoom chat _ ITV News (1080p_25fps_H264-128kbit_AAC).mp4
jupyter/jupyterNotebooks/images/bettingMarket.png
jupyter/jupyterNotebooks/images/bettingMarket.pptx
.DS_Store
jupyter/.DS_Store
jupyter/jupyterNotebooks/.DS_Store
jupyter/jupyterNotebooks/__pycache__/ipdpp_utils.cpython-39.pyc
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part3_07ProcessMining-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_06BreastCancer_Supervised-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part2_05BreastCancer_Unsupervised-checkpoint.ipynb
.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_Titanic_EDA-checkpoint.ipynb
jupyter/jupyterNotebooks/.DS_Store
jupyter/.DS_Store
.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas-checkpoint.ipynb
.DS_Store
jupyter/jupyterNotebooks/.ipynb_checkpoints/ipdpp_utils-checkpoint.py
jupyter/jupyterNotebooks/Part1_NumPy_Pandas_old.ipynb
jupyter/jupyterNotebooks/.ipynb_checkpoints/Part1_NumPy_Pandas_old-checkpoint.ipynb
